*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}



h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    text-decoration: underline;
}

.nav{
    height: 90px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    

}

.nav div{
   
   display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}